<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162079509610-r5h0rvosq0c3oh8c4mvaj4d37kq5h9ur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162079509610-r5h0rvosq0c3oh8c4mvaj4d37kq5h9ur</string>
	<key>API_KEY</key>
	<string>AIzaSyDqGJX4e7GcdhOmJzu15JlFECynI9WgOuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>162079509610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.makepdfs</string>
	<key>PROJECT_ID</key>
	<string>ej-strong-project</string>
	<key>STORAGE_BUCKET</key>
	<string>ej-strong-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162079509610:ios:20d711c6b238c85200ce13</string>
</dict>
</plist>